config:
  envs: "default"
  metaServers:
    default: http://apollo-configservice:8080
replicaCount: 1
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/affinity-mode: "persistent"
    nginx.ingress.kubernetes.io/session-cookie-conditional-samesite-none: "true"
    nginx.ingress.kubernetes.io/session-cookie-expires: "172800"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "172800"
    nginx.org/websocket-services: "apolloportal"
    nginx.com/sticky-cookie-services: "serviceName=apolloportal srv_id expires=1h path=/"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: "devops-vpn-nginx-internal"
  hosts:
    - host: "apollo-portal.internal-devops.development.npool.top"
      paths:
        - /
env:
  DEBUG_MODE: "override"
  MYSQL_HOST: "172.20.1.155"